name: Continuous Integration
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build_and_test:
    name: pb-${{ matrix.protobuf_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        protobuf_version: [27.3]
      fail-fast: false
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: 1.19

      - name: Setup protoc
        env:
          PROTOBUF_VERSION: ${{ matrix.protobuf_version }}
        run: ./install-protobuf.sh

      - name: Protoc version
        run: PATH=$HOME/bin:$PATH protoc --version

      - name: Build server allgo version

        run: PATH=$HOME/bin:$PATH make buildserverall
